vertexsdr
obj/
pub2/tmp/
test_output/
*Zone.Identifier
Download*.png
pub2/*.png
pub2/*.html
pub2/*.jar
pub2/*.js
pub2/*.xml
wget-log
websdr64.c
.codex
.claude/
SDDC_FX3.img
fftw-wisdom.dat
websdr64_rebuild
