#
# VertexSDR Server Configuration
# https://github.com/Steven9101/VertexSDR - LGPL 3.0
#
# Lines starting with # are comments.
# Band configuration lines must be grouped together.
#

############################################################################
# Server settings

maxusers 100
idletimeout 14400
tcpport 8901
dotrustlocalnet
logfileinterval 0
slowdownusers 20
slowdownusers2 30
fftplaneffort 1
fftbackend fftw
public pub2
waterfallformat 9
audioformat 3
initial 10100 usb

############################################################################
# SDR List registration (websdr.org + sdr-list.xyz)
#
# Uncomment and fill in to appear on both the WebSDR directory and sdr-list.
# VertexSDR registers on both sites automatically from this single config.
# Each band gets registered as a separate receiver.
#
# orgserver websdr.org
# myhost your.public.ip.or.hostname
# hostname your.public.hostname.com
# org qth JO21OC
# org description My HF receiver
# org email your@email.com
#
# Make sure your port is reachable from the internet.

############################################################################
# Band: RTL-SDR via rtl_tcp
#
# Start rtl_tcp first:
#   rtl_tcp -a 127.0.0.1 -p 1234 -f 10100000 -s 2048000 -g 30

#band HF
#device !rtlsdr 127.0.0.1:1234
#samplerate 2048000
#centerfreq 10100
#gain 30

############################################################################
# More band examples (uncomment and edit to use)

# ALSA soundcard:
# band Audio
# device hw:0,0
# samplerate 48000
# centerfreq 1000
# noniq
# gain 0

# stdin with rx_sdr (rx_tools):
# band HF-rx
# device !stdin
# stdinformat cu8
# samplerate 2048000
# centerfreq 10100
# gain 0

# stdin with signed 16-bit IQ:
band IQ16
device !stdin
stdinformat cu8
samplerate 2048000
centerfreq 10100
gain 0
